body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.header {
  background: #111;
  color: white;
  padding: 20px;
}

h1{
  color: #f5f5f5;
  
}

.header a {
  text-decoration: none;
  color: white;
}

.container {
  padding: 20px;
}

.grid {
  display: grid;
  gap: 20px;
}

/* Desktop */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet */
@media (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
/* ====== BOARD 3 COLUMNAS ====== */

.board {
  display: grid;
  gap: 20px;
}

/* Desktop → 3 columnas */
@media (min-width: 1024px) {
  .board {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet → 2 columnas */
@media (max-width: 1023px) {
  .board {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile → 1 columna */
@media (max-width: 600px) {
  .board {
    grid-template-columns: 1fr;
  }
}

.column {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  min-height: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.column h3 {
  margin-bottom: 20px;
}

.empty {
  color: #888;
}

.footer {
  background: #111;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
  opacity: 0.8;
}

/* responsive */
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
body {
  margin: 0;
  padding: 0;

  background-image: url("/src/assets/background.png");
  background-size: cover;      /* cubre toda la pantalla */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat;
  background-attachment: fixed; /* efecto elegante al hacer scroll */
}
.titulo-pedido {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin: 30px 0;
  color: #333;
  letter-spacing: 1px;
}