body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.header {
  background: #111;
  color: white;
  padding: 20px;
}

#link{
    text-decoration: none;
}

.container {
  padding: 20px;
}

.grid {
  display: grid;
  gap: 20px;
}

/* Desktop */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet */
@media (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
/* ====== BOARD 3 COLUMNAS ====== */

.board {
  display: grid;
  gap: 20px;
}

/* Desktop → 3 columnas */
@media (min-width: 1024px) {
  .board {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet → 2 columnas */
@media (max-width: 1023px) {
  .board {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile → 1 columna */
@media (max-width: 600px) {
  .board {
    grid-template-columns: 1fr;
  }
}

.column {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  min-height: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.column h3 {
  margin-bottom: 20px;
}

.empty {
  color: #888;
}