.badge {
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

.badge-pending {
  background: #facc15;
}

.badge-preparing {
  background: #60a5fa;
}

.badge-served {
  background: #4ade80;
}
.card{

  background:#fdfdfd;
  padding:18px;
  border-radius:16px;
  cursor:pointer;

  display:flex;
  flex-direction:column;
  gap:10px;

  transition:all .2s ease;

  box-shadow:0 4px 12px rgba(0,0,0,0.08);

}

/* hover bonito */

.card:hover{

  transform:translateY(-3px);
  box-shadow:0 10px 20px rgba(0,0,0,0.12);

}

/* header de la card */

.card-header{

  display:flex;
  justify-content:space-between;
  align-items:center;

}

/* titulo mesa */

.card h3{

  margin:0;
  font-size:18px;
  color:#1e293b;

}

/* texto productos */

.card-products{

  font-size:14px;
  color:#64748b;

}

/* progress container */

.progress-bar{
  width:100%;
  height:6px;
  background:#e2e8f0;
  border-radius:10px;
  overflow:hidden;
}

/* progreso interno */

.progress{
  height:100%;
  border-radius:10px;
  transition:width .4s ease;
}

/* estados */

.progress-pending{
  width:0%;
  background:#facc15;
}

.progress-preparing{
  width:50%;
  background:#60a5fa;
}

.progress-served{
  width:100%;
  background:#4ade80;
}